Package: com.sunhongyi.pilothacker
Name: PilotHacker
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A tweak for Garmin Pilot v8.5.3!
Maintainer: hongyi
Author: hongyi
Section: Tweaks
Version: 0.0.1-16+debug
Installed-Size: 136
